Repository davideperozzi/smoovy: changes, and which Codecov flags are due for each by the changed paths.
All: composer, observer, ticker, tween, router, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: null
      composer:
        flags: composer
        target: 50%
      observer:
        flags: observer
        target: 50%
      ticker:
        flags: ticker
        target: 50%
      tween:
        flags: tween
        target: 50%
      utils:
        flags: utils
        target: 50%
flags:
  composer:
    paths:
      - packages/composer/src
  observer:
    paths:
      - packages/observer/src
  ticker:
    paths:
      - packages/ticker/src
  tween:
    paths:
      - packages/tween/src
  router:
    paths:
      - packages/router/src
  utils:
    paths:
      - packages/utils/src

feat(webgl): improved uniform handling + normals
  packages/webgl/README.md
  packages/webgl/demo/index.ts
  packages/webgl/demo/shaders/light.frag.glsl
  packages/webgl/demo/shaders/light.vert.glsl
  packages/webgl/src/camera.ts
  packages/webgl/src/geometry/plane.ts
  packages/webgl/src/mesh.ts
  packages/webgl/src/model.ts
  packages/webgl/src/package.json
  packages/webgl/src/renderer.ts
  packages/webgl/src/shaders/color.glsl.ts
  packages/webgl/src/texture.ts
  packages/webgl/src/uniform.ts
  packages/webgl/src/utils.ts
  packages/webgl/tsconfig.json
  packages/webgl/vite.demo.mts
  packages/webgl/vite.demo.ts
Due: none

fix(webgl): invalid import
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/mesh.ts
Due: none

chore: release
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
Due: none

feat(webgl): added global uniforms
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/demo/shaders/light.frag.glsl
  packages/webgl/package.json
  packages/webgl/src/mesh.ts
  packages/webgl/src/renderer.ts
  packages/webgl/src/webgl.ts
Due: none

feat(webgl): simplified texture binding
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/geometry/plane.ts
  packages/webgl/src/mesh.ts
  packages/webgl/src/texture.ts
Due: none

fix(webgl): video loading
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/geometry/plane.ts
  packages/webgl/src/texture.ts
Due: none

fix(tween): unpause on start
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
Due: tween

feat(emitter): simplified
  packages/emitter/CHANGELOG.md
  packages/emitter/README.md
  packages/emitter/package.json
  packages/emitter/src/emitter.ts
  packages/emitter/tests/emitter.test.ts
Due: none

feat(scroller): simplified
  packages/scroller/CHANGELOG.md
  packages/scroller/README.md
  packages/scroller/demo/index.scss
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/behaviors/bypassFocus.ts
  packages/scroller/src/behaviors/bypassNative.ts
  packages/scroller/src/behaviors/clampContent.ts
  packages/scroller/src/behaviors/keyboard.ts
  packages/scroller/src/behaviors/lerpContent.ts
  packages/scroller/src/behaviors/mouseWheel.ts
  packages/scroller/src/behaviors/nativeScrollbar.ts
  packages/scroller/src/behaviors/scrollContent.ts
  packages/scroller/src/behaviors/scrollTo.ts
  packages/scroller/src/behaviors/styleContainer.ts
  packages/scroller/src/behaviors/touchInertia.ts
  packages/scroller/src/behaviors/translate.ts
  packages/scroller/src/core.ts
  packages/scroller/src/default.ts
  packages/scroller/src/dom.ts
  packages/scroller/src/hybrid.ts
  packages/scroller/src/index.ts
  packages/scroller/src/inertia.ts
  packages/scroller/src/native.ts
  packages/scroller/src/utils.ts
  packages/scroller/src/utils/keyboard.ts
Due: none

feat(utils): added damp function
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/math.ts
Due: utils

fix(scroller): deps versions
  packages/scroller/CHANGELOG.md
  packages/scroller/package.json
Due: none

feat(router): added cloning
  package.json
  packages/router/CHANGELOG.md
  packages/router/demo/index.html
  packages/router/demo/index.ts
  packages/router/demo/projects/index.html
  packages/router/demo/sample.html
  packages/router/package.json
  packages/router/src/router.ts
  yarn.lock
Due: router

fix(router): node clone
  packages/router/CHANGELOG.md
  packages/router/demo/index.ts
  packages/router/demo/projects/index.html
  packages/router/package.json
  packages/router/src/router.ts
Due: router

feat(scroller): added lockAxis option
  packages/scroller/demo/index.ts
  packages/scroller/src/core.ts
Due: none

feat(scroller): release
  packages/scroller/CHANGELOG.md
  packages/scroller/demo/index.scss
  packages/scroller/package.json
Due: none

feat(native): added bypass option
  packages/scroller/demo/index.ts
  packages/scroller/src/core.ts
  packages/scroller/src/element.ts
  packages/scroller/src/index.ts
  packages/scroller/src/native.ts
Due: none

feat(scroller): release
  packages/scroller/CHANGELOG.md
  packages/scroller/package.json
Due: none

fix(scroller): invalid import
  packages/scroller/src/native.ts
Due: none

fix(scroller): native intertia detach
  packages/scroller/CHANGELOG.md
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/core.ts
  packages/scroller/src/native.ts
Due: none

fix(parallax): typo - fixes #19
  packages/parallax/README.md
Due: none

feat(parallax): added target update
  packages/parallax/src/parallax.ts
Due: none

feat(parallax): added locks
  packages/parallax/CHANGELOG.md
  packages/parallax/demo/index.ts
  packages/parallax/package.json
  packages/parallax/src/parallax.ts
Due: none

feat(scroller): added active el key nav check
  packages/scroller/CHANGELOG.md
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/core.ts
Due: none

feat(router): enabled access to route document
  packages/router/CHANGELOG.md
  packages/router/demo/index.ts
  packages/router/package.json
  packages/router/src/router.ts
  packages/router/src/utils.ts
Due: router

feat(parallax): added clamping
  packages/parallax/CHANGELOG.md
  packages/parallax/demo/index.html
  packages/parallax/demo/index.scss
  packages/parallax/demo/index.ts
  packages/parallax/package.json
  packages/parallax/src/parallax.ts
  packages/parallax/src/resolver.ts
Due: none

fix(router): doc clone
  packages/router/CHANGELOG.md
  packages/router/demo/index.html
  packages/router/demo/index.ts
  packages/router/package.json
  packages/router/src/router.ts
  packages/router/src/utils.ts
Due: router

feat(tween): proper transform
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/dom.ts
  packages/tween/src/tween.ts
Due: tween

feat(scroller): deep locks, limit abstractions
  packages/scroller/CHANGELOG.md
  packages/scroller/README.md
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/core.ts
  packages/scroller/src/element.ts
  packages/scroller/src/native.ts
Due: none

feat(scroller): added wheel lock
  packages/scroller/CHANGELOG.md
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/core.ts
Due: none

feat(router): simplification
  packages/router/CHANGELOG.md
  packages/router/demo/index.ts
  packages/router/package.json
  packages/router/src/router.ts
Due: router

feat(composer): added component query
  packages/composer/CHANGELOG.md
  packages/composer/demo/index.html
  packages/composer/demo/index.ts
  packages/composer/package.json
  packages/composer/src/composer.ts
  packages/composer/src/index.ts
  packages/composer/src/query.ts
Due: composer

feat(composer): simplified query
  packages/composer/CHANGELOG.md
  packages/composer/demo/index.ts
  packages/composer/package.json
  packages/composer/src/composer.ts
Due: composer

feat(composer): improved collector
  packages/composer/CHANGELOG.md
  packages/composer/package.json
  packages/composer/src/composer.ts
Due: composer

feat(router): added route preload event
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/router.ts
Due: router

fix(router): preload event
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/router.ts
Due: router

fix(tween): initial reset
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.html
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/dom.ts
  packages/tween/src/props.ts
  packages/tween/src/tween.ts
Due: tween

fix(scroller): touch events
  packages/scroller/CHANGELOG.md
  packages/scroller/demo/index.scss
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/core.ts
  packages/scroller/src/element.ts
  packages/scroller/src/inertia.ts
Due: none

fix(tween): timeline controller seek on add
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.html
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/timeline.ts
Due: tween

fix(ticker): invalid splice
  packages/ticker/CHANGELOG.md
  packages/ticker/package.json
  packages/ticker/src/ticker.ts
Due: ticker
