Repository davideperozzi/smoovy: changes, and which Codecov flags are due for each by the changed paths.
All: observer, ticker, tween, utils

chore(coverage): updated codecov config
  codecov.yml
Due: none

chore(readme): updated package list
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md
  packages/observer/README.md
Due: observer

Update README.md
  packages/scroller-core/README.md
Due: none

Update README.md
  packages/scroller-tween/README.md
Due: none

Update README.md
  packages/scroller/README.md
Due: none

Update README.md
  packages/ticker/README.md
Due: ticker

Update README.md
  packages/tween/README.md
Due: tween

Update README.md
  packages/utils/README.md
Due: utils

refactor(observer): updated general structure
  codecov.yml
  demos/demo.scss
  demos/demo.ts
  packages/observer/README.md
  packages/observer/demos/default/index.html
  packages/observer/demos/default/index.scss
  packages/observer/demos/default/index.ts
  packages/observer/package.json
  packages/observer/src/element/element-observer.ts
  packages/observer/src/element/element-state-impl.ts
  packages/observer/src/element/element-state.ts
  packages/observer/src/element/index.ts
  packages/observer/src/index.ts
  packages/observer/tests/browser/element.test.html
  packages/observer/tests/browser/element.test.html.js
  packages/observer/tests/browser/element.test.html.ts
  packages/observer/tests/browser/viewport.test.html
  packages/observer/tests/browser/viewport.test.html.js
  packages/observer/tests/browser/viewport.test.html.ts
  packages/observer/tests/element.test.pptr.ts
  packages/scroller-core/package.json
  packages/scroller-shared/package.json
  packages/scroller-tween/package.json
  packages/scroller/package.json
  packages/tween/package.json
Due: observer, tween

fix(scroller-core): fix #7 issue + element observer integration
  packages/scroller-core/src/dom.ts
  packages/scroller-core/src/module.ts
Due: none

feat(scroller-core): added dom config
  codecov.yml
  packages/scroller-core/demos/default/index.ts
  packages/scroller-core/src/dom.ts
  packages/scroller-core/src/scroller.ts
Due: none

chore(testing): updated observer pptr tests
  packages/observer/tests/element.test.pptr.ts
Due: observer

Publish
  packages/observer/package.json
  packages/scroller-core/package.json
  packages/scroller-shared/package.json
  packages/scroller-tween/package.json
  packages/scroller/package.json
  packages/ticker/package.json
  packages/tween/package.json
  packages/utils/package.json
Due: observer, ticker, tween, utils

fix(scroller-core): dynamic dom initialization
  lerna.json
  packages/scroller-core/src/dom.ts
Due: none

chore(docs): updated scroller-core dom docs
  packages/scroller-core/README.md
Due: none

chore(test): improved observer element pptr tests
  packages/observer/tests/element.test.pptr.ts
Due: observer

chore(release): publish
  packages/observer/package.json
  packages/scroller-core/package.json
  packages/scroller-shared/package.json
  packages/scroller-tween/package.json
  packages/scroller/package.json
Due: observer

chore(release): publish
  packages/observer/package.json
  packages/scroller-core/package.json
  packages/scroller-shared/package.json
  packages/scroller-tween/package.json
  packages/scroller/package.json
  packages/ticker/package.json
  packages/tween/package.json
  packages/utils/package.json
Due: observer, ticker, tween, utils

fix(scroller): invalid scroller to observer update
  .circleci/config.yml
  packages/observer/src/element/element-observer.ts
  packages/scroller-core/README.md
  packages/scroller-core/src/dom.ts
  packages/scroller-core/src/module.ts
  packages/scroller-core/src/scroller.ts
Due: observer

refactor(tween): improvements + performance
  packages/ticker/demos/default/index.ts
  packages/tween/README.md
  packages/tween/demos/default/index.html
  packages/tween/demos/default/index.ts
  packages/tween/src/registry.ts
  packages/tween/src/tween.ts
  packages/tween/src/tweenable.ts
  packages/tween/tests/tween.test.ts
Due: ticker, tween

fix(tween): invalid generic typing
  README.md
  packages/scroller-tween/src/transformers/tween-transformer.ts
  packages/tween/src/tween.ts
Due: tween

chore(observer): improved tests
  README.md
  packages/observer/src/element/element-observer.ts
  packages/observer/src/element/element-state.ts
  packages/observer/src/viewport-observer.ts
  packages/observer/tests/element.test.ts
  packages/observer/tests/viewport.test.ts
Due: observer

chore(release): publish
  packages/observer/package.json
  packages/scroller-core/package.json
  packages/scroller-shared/package.json
  packages/scroller-tween/package.json
  packages/scroller/package.json
  packages/ticker/package.json
  packages/tween/package.json
Due: observer, ticker, tween

feat(scroller-core): added listener directly to the scroller class
  packages/observer/package-lock.json
  packages/scroller-core/README.md
  packages/scroller-core/demos/default/index.html
  packages/scroller-core/demos/default/index.scss
  packages/scroller-core/demos/default/index.ts
  packages/scroller-core/package-lock.json
  packages/scroller-core/src/module.ts
  packages/scroller-core/src/scroller.ts
  packages/scroller-shared/package-lock.json
  packages/scroller-tween/package-lock.json
  packages/scroller/demos/default/index.ts
  packages/scroller/package-lock.json
  packages/ticker/package-lock.json
  packages/tween/package-lock.json
  packages/utils/package-lock.json
  tsconfig.json
Due: observer, ticker, tween, utils

fix(tween): unit test
  packages/tween/tests/tween.test.ts
Due: tween

chore(build): updated build process
  build/rollup.config.ts
  packages/observer/package-lock.json
  packages/observer/package.json
  packages/observer/src/viewport-observer.ts
  packages/scroller-core/package-lock.json
  packages/scroller-core/package.json
  packages/scroller-shared/.modular
  packages/scroller-shared/package-lock.json
  packages/scroller-shared/package.json
  packages/scroller-shared/src/inputs/mouse-wheel-input.ts
  packages/scroller-shared/src/inputs/touch-swipe-input.ts
  packages/scroller-tween/package-lock.json
  packages/scroller-tween/package.json
  packages/scroller/package-lock.json
  packages/scroller/package.json
  packages/ticker/package-lock.json
  packages/ticker/package.json
  packages/tween/.modular
  packages/tween/package-lock.json
  packages/tween/package.json
  packages/utils/.modular
  packages/utils/README.md
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/math.ts
  scripts/build/package.ts
  tsconfig.json
Due: observer, ticker, tween, utils

feat(scroller): added keyboard controls
  package-lock.json
  package.json
  packages/scroller/demos/default/index.ts
  packages/scroller/src/behaviors/index.ts
  packages/scroller/src/behaviors/keyboard.ts
  packages/scroller/src/core.ts
  packages/scroller/src/scroller.ts
  scripts/build/package.ts
  scripts/serve/package.ts
Due: none

feat(scroller): updated behaviors
  package.json
  packages/event/src/element.ts
  packages/event/src/emitter.ts
  packages/scroller/demos/default/index.html
  packages/scroller/demos/default/index.ts
  packages/scroller/package.json
  packages/scroller/src/behaviors/containerScroll.ts
  packages/scroller/src/behaviors/index.ts
  packages/scroller/src/behaviors/lerpContent.ts
  packages/scroller/src/behaviors/mouseWheel.ts
  packages/scroller/src/behaviors/moveContent.ts
  packages/scroller/src/core.ts
  packages/scroller/src/dom.ts
  packages/scroller/src/scroller.ts
  packages/utils/src/math.ts
  scripts/lint/package.ts
  scripts/test/package.ts
  scripts/test/serve/package.ts
Due: utils

feat(scroller): updated behaviors + api
  packages/event/src/element.ts
  packages/event/src/emitter.ts
  packages/event/src/index.ts
  packages/event/src/utils.ts
  packages/scroller/README.md
  packages/scroller/demos/default/index.scss
  packages/scroller/demos/default/index.ts
  packages/scroller/src/behaviors/bypassFocus.ts
  packages/scroller/src/behaviors/bypassNative.ts
  packages/scroller/src/behaviors/clampContent.ts
  packages/scroller/src/behaviors/containerScroll.ts
  packages/scroller/src/behaviors/index.ts
  packages/scroller/src/behaviors/keyboard.ts
  packages/scroller/src/behaviors/lerpContent.ts
  packages/scroller/src/behaviors/mouseWheel.ts
  packages/scroller/src/behaviors/moveContent.ts
  packages/scroller/src/behaviors/scrollTo.ts
  packages/scroller/src/behaviors/styleContainer.ts
  packages/scroller/src/behaviors/touchInertia.ts
  packages/scroller/src/behaviors/translate.ts
  packages/scroller/src/behaviors/tweenTo.ts
  packages/scroller/src/core.ts
  packages/scroller/src/dom.ts
  packages/scroller/src/scroller.ts
  packages/scroller/src/utils/keyboard.ts
  packages/utils/src/base.ts
  packages/utils/src/index.ts
Due: utils

chore(event): added docs + tests
  packages/event/README.md
  packages/event/src/emitter.ts
  packages/event/tests/element.test.ts
  packages/event/tests/emitter.test.ts
  packages/event/tests/utils.test.ts
  packages/scroller/README.md
  packages/scroller/demos/default/index.ts
Due: none

chore(test): updated some tests
  README.md
  packages/scroller/src/behaviors/lerpContent.ts
  packages/ticker/tests/ticker.test.ts
  packages/utils/src/base.ts
  packages/utils/src/math.ts
  packages/utils/src/object.ts
  packages/utils/tests/base.test.ts
  packages/utils/tests/math.test.ts
  packages/utils/tests/object.test.ts
Due: ticker, utils

chore(ticker): remove invalid test
  packages/ticker/tests/ticker.test.ts
Due: ticker

chore(release): publish
  packages/event/package-lock.json
  packages/event/package.json
  packages/observer/package-lock.json
  packages/observer/package.json
  packages/scroller/package-lock.json
  packages/scroller/package.json
  packages/ticker/package-lock.json
  packages/ticker/package.json
  packages/tween/package-lock.json
  packages/tween/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: observer, ticker, tween, utils

fix(scroller): invalid dist decleration files
  packages/scroller/package-lock.json
  packages/scroller/package.json
  packages/scroller/src/core.ts
  packages/scroller/tsconfig.json
  tsconfig.json
Due: none

Path conditions:
  observer: any of: packages/observer/
  ticker: any of: packages/ticker/
  tween: any of: packages/tween/
  utils: any of: packages/utils/
