Repository davideperozzi/smoovy: changes, and which Codecov flags are due for each by the changed paths.
All: composer, observer, ticker, tween, router, utils

feat(tween): made api more public
  packages/tween/CHANGELOG.md
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
Due: tween

feat(tween): improved api + bugfixes
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/dom.ts
  packages/tween/src/helper.ts
  packages/tween/src/helper/setters.ts
  packages/tween/src/helper/timeline.ts
  packages/tween/src/helper/tween.ts
  packages/tween/src/props.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
Due: tween

feat(router): simplified animations
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/animations.ts
  packages/router/src/router.ts
Due: router

feat(tween): added coverability + seekUpdate control
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/dom.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
Due: tween

fix(tween): invalid result state property deletion
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/dom.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
Due: tween

fix(tween): test delay
  packages/tween/demo/index.ts
  packages/tween/tests/tween.test.ts
Due: none

feat(router, tween): reliabiliy
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/animations.ts
  packages/router/src/router.ts
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
  yarn.lock
Due: tween, router

fix(tween): timeline recursive stop
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/timeline.ts
  packages/tween/tests/tween.test.ts
Due: tween

feat(tween): fix sync of timeline items
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/timeline.ts
Due: tween

fix(tween): removed console.log
  packages/tween/CHANGELOG.md
  packages/tween/package.json
  packages/tween/src/controller.ts
Due: tween

fix(observer): invalid intersection observer config
  packages/observer/CHANGELOG.md
  packages/observer/demo/index.ts
  packages/observer/package.json
  packages/observer/src/observable.ts
Due: observer

fix(webgl): initial size of viewport
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/webgl.ts
Due: none

feat(tween): added basic callbacks
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
Due: tween

feat(timeline): added clear
  packages/tween/CHANGELOG.md
  packages/tween/package.json
  packages/tween/src/timeline.ts
Due: tween

feat(tween): added dynamic timeloine
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/helper.ts
  packages/tween/src/helper/tween.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
Due: tween

feat(router): added dynamic router animations
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/animations.ts
  packages/router/src/router.ts
Due: router

feat: ticker performance improvements (simplified)
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/grid/src/grid.ts
  packages/scroller/CHANGELOG.md
  packages/scroller/demo/index.scss
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/behaviors/lerpContent.ts
  packages/scroller/src/behaviors/touchInertia.ts
  packages/ticker/CHANGELOG.md
  packages/ticker/demo/index.html
  packages/ticker/demo/index.ts
  packages/ticker/package.json
  packages/ticker/src/ticker.ts
  packages/ticker/tests/ticker.test.ts
  packages/ticker/vite.demo.ts
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/dom.ts
  packages/tween/src/tween.ts
  packages/tween/tests/tween.test.ts
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/webgl.ts
  yarn.lock
Due: ticker, tween

fix(ticker): invalid test
  packages/ticker/tests/ticker.test.ts
Due: none

fix(webgl): invalid tickercall
  packages/webgl/src/meshes/video.ts
Due: none

feat(webgl): removed feature toggle -> performance
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/mesh.ts
Due: none

fix(tween): nested timeline complete detection
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/timeline.ts
Due: tween

feat(tween): added force seek to controller and timeline
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/timeline.ts
Due: tween

fix(tween): caching of dom props
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/dom.ts
  packages/tween/src/props.ts
  packages/tween/src/timeline.ts
Due: tween

feat(webgl): added container for multiple scroll contexts
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/container.ts
  packages/webgl/src/mesh.ts
  packages/webgl/src/viewport.ts
  packages/webgl/src/webgl.ts
Due: none

fix(tween): removed console.log
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.html
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/timeline.ts
Due: tween

feat(router): made outlet public
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/router.ts
Due: router

feat(tween): improved event handling
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.html
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
Due: tween

fix(tween): pause/resume
  packages/tween/demo/index.ts
  packages/tween/src/controller.ts
  packages/tween/tests/tween.test.ts
Due: tween

fix(tween): invalid start conditions
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/timeline.ts
Due: tween

feat(router): added render, preload + flags
  packages/router/CHANGELOG.md
  packages/router/demo/index.ts
  packages/router/package.json
  packages/router/src/animations.ts
  packages/router/src/router.ts
  packages/router/src/trigger.ts
Due: router

feat(router): improved view loading
  packages/router/CHANGELOG.md
  packages/router/demo/index.ts
  packages/router/package.json
  packages/router/src/router.ts
  packages/router/src/trigger.ts
  packages/router/src/utils.ts
Due: router

fix(tween): invalid state removeal
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/tween.ts
Due: tween

fix(router): pre-rendering
  packages/router/CHANGELOG.md
  packages/router/demo/index.ts
  packages/router/package.json
  packages/router/src/router.ts
Due: router

feat(router): exposed current view
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/router.ts
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/meshes/plane.ts
Due: router

feat(webgl): improved rasterization with workers
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/mesh.ts
  packages/webgl/src/meshes/image.ts
  packages/webgl/src/meshes/plane.ts
  packages/webgl/src/meshes/video.ts
  packages/webgl/src/utils/raster.ts
Due: none

feat(webgl): improved raster util
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/utils/raster.ts
Due: none

feat(webgl): refactor -> simplified
  .eslintrc.json
  packages/webgl/README.md
  packages/webgl/demo/1000x1000.jpg
  packages/webgl/demo/index.html
  packages/webgl/demo/index.ts
  packages/webgl/demo/meltdown.mp4
  packages/webgl/package.json
  packages/webgl/src/buffers.ts
  packages/webgl/src/camera.ts
  packages/webgl/src/container.ts
  packages/webgl/src/geometry/plane.ts
  packages/webgl/src/index.ts
  packages/webgl/src/math.ts
  packages/webgl/src/mesh.ts
  packages/webgl/src/meshes/image.ts
  packages/webgl/src/meshes/plane.ts
  packages/webgl/src/meshes/video.ts
  packages/webgl/src/model.ts
  packages/webgl/src/program.ts
  packages/webgl/src/renderer.ts
  packages/webgl/src/shaders/color.glsl.ts
  packages/webgl/src/shaders/texture.glsl.ts
  packages/webgl/src/texture.ts
  packages/webgl/src/uniform.ts
  packages/webgl/src/utils.ts
  packages/webgl/src/utils/math.ts
  packages/webgl/src/utils/raster.ts
  packages/webgl/src/viewport.ts
  packages/webgl/src/webgl.ts
  packages/webgl/tsconfig.json
Due: none

feat(webgl): updated dist
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
Due: none

fix(webgl): typescript defintions
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/tsconfig.json
  yarn.lock
Due: none

fix(webgl): useless deps
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  yarn.lock
Due: none

Path conditions:
  composer: any of: packages/composer/src
  observer: any of: packages/observer/src
  ticker: any of: packages/ticker/src
  tween: any of: packages/tween/src
  router: any of: packages/router/src
  utils: any of: packages/utils/src
