Repository davideperozzi/smoovy: changes, and which Codecov flags are due for each by the changed paths.
All: composer, observer, ticker, tween, router, utils

feat(webgl): added image cache persistence option
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/meshes/image.ts
Due: none

fix(webgl): resize detection bug
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/webgl.ts
Due: none

feat(parallax): optimized shift start and end calculation
  packages/parallax/CHANGELOG.md
  packages/parallax/demo/index.html
  packages/parallax/demo/index.scss
  packages/parallax/demo/index.ts
  packages/parallax/package.json
  packages/parallax/src/parallax.ts
  packages/parallax/src/resolver.ts
Due: none

feat(webgl): image initial size
  packages/webgl/CHANGELOG.md
  packages/webgl/package.json
  packages/webgl/src/meshes/image.ts
Due: none

feat(webgl): added `addSource` to image primitve
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/meshes/image.ts
Due: none

feat(webgl): added scale and translation origin to plane
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/meshes/image.ts
  packages/webgl/src/meshes/plane.ts
  yarn.lock
Due: none

feat(composer): exposed `injectService` and `injectComponent`
  packages/composer/CHANGELOG.md
  packages/composer/demo/index.ts
  packages/composer/package.json
  packages/composer/src/composer.ts
Due: composer

feat(scroller): added mouse events to `touchInertia` and `mapPos` to translate behavior
  packages/scroller/CHANGELOG.md
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/behaviors/touchInertia.ts
  packages/scroller/src/behaviors/translate.ts
Due: none

feat(composer): improved config injector + types
  packages/composer/CHANGELOG.md
  packages/composer/demo/index.html
  packages/composer/demo/index.ts
  packages/composer/package.json
  packages/composer/src/component.ts
  packages/composer/src/composer.ts
  packages/composer/src/config.ts
Due: composer

feat(grid): initial commit
  packages/grid/CHANGELOG.md
  packages/grid/README.md
  packages/grid/demo/index.html
  packages/grid/demo/index.ts
  packages/grid/package.json
  packages/grid/src/config.ts
  packages/grid/src/data.ts
  packages/grid/src/grid.ts
  packages/grid/src/index.ts
  packages/grid/src/item.ts
  packages/grid/src/mesh.ts
  packages/grid/src/presets/image.ts
  packages/grid/tsconfig.json
  packages/grid/vite.demo.ts
  packages/utils/src/math.ts
  yarn.lock
Due: utils

feat(grid): added image preset
  packages/grid/demo/index.ts
  packages/grid/src/config.ts
  packages/grid/src/grid.ts
  packages/grid/src/item.ts
  packages/grid/src/mesh.ts
  packages/grid/src/presets/image.ts
  packages/utils/src/base.ts
Due: utils

feat(grid): first release
  packages/grid/CHANGELOG.md
  packages/grid/demo/index.ts
  packages/grid/package.json
  packages/grid/src/grid.ts
  packages/grid/src/item.ts
  packages/grid/tsconfig.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  yarn.lock
Due: none

feat(grid): added recalc + breakpoints
  packages/grid/demo/index.html
  packages/grid/demo/index.ts
  packages/grid/src/config.ts
  packages/grid/src/grid.ts
  packages/grid/src/item.ts
  packages/grid/src/mesh.ts
Due: none

chore(grid): bump
  packages/grid/CHANGELOG.md
  packages/grid/package.json
Due: none

feat(router): added hash navigation
  packages/router/CHANGELOG.md
  packages/router/README.md
  packages/router/demo/index.html
  packages/router/demo/index.ts
  packages/router/demo/sample.html
  packages/router/package.json
  packages/router/src/router.ts
Due: router

fix(scroller): copying of default config to "seal" default values
  packages/scroller/CHANGELOG.md
  packages/scroller/package.json
  packages/scroller/src/behaviors/bypassNative.ts
  packages/scroller/src/behaviors/keyboard.ts
  packages/scroller/src/behaviors/lerpContent.ts
  packages/scroller/src/behaviors/mouseWheel.ts
  packages/scroller/src/behaviors/nativeScrollbar.ts
  packages/scroller/src/behaviors/scrollContent.ts
  packages/scroller/src/behaviors/touchInertia.ts
  packages/scroller/src/behaviors/translate.ts
Due: none

fix(scroller): hybrid horizontal scrolling
  packages/scroller/CHANGELOG.md
  packages/scroller/demo/index.html
  packages/scroller/demo/index.scss
  packages/scroller/demo/index.ts
  packages/scroller/package.json
  packages/scroller/src/hybrid.ts
Due: none

feat(scroller): added scrollSize support feat(observer): added scrollSize support
  packages/observer/CHANGELOG.md
  packages/observer/package.json
  packages/observer/src/observable.ts
  packages/scroller/CHANGELOG.md
  packages/scroller/package.json
  packages/scroller/src/behaviors/clampContent.ts
  packages/scroller/src/hybrid.ts
  yarn.lock
Due: observer

feat(listener): added listenOnce
  packages/listener/CHANGELOG.md
  packages/listener/package.json
  packages/listener/src/listen.ts
Due: none

fix: typo in @smoovy/observer readme
  packages/observer/README.md
Due: none

feat(grid): added `isAvailable` to grid item
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/grid/src/item.ts
Due: none

feat(grid): improved image preset config
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/grid/src/presets/image.ts
Due: none

feat(scroller): added dynamic options to mouse and touch behavior
  packages/scroller/CHANGELOG.md
  packages/scroller/package.json
  packages/scroller/src/behaviors/mouseWheel.ts
  packages/scroller/src/behaviors/touchInertia.ts
  packages/scroller/src/hybrid.ts
Due: none

feat(grid): added getters for items and mesh
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/grid/src/grid.ts
Due: none

feat(grid): added data assignment to item + dataIndex
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/grid/src/item.ts
  packages/grid/src/presets/image.ts
Due: none

feat(router): added navStart and navEnd to router transition
  .husky/commit-msg
  .husky/manypkg-check
  .husky/pre-commit
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  packages/router/README.md
  packages/router/src/route.ts
  packages/router/src/router.ts
  packages/router/src/transition.ts
  packages/router/src/transitions/fade.ts
Due: router

feat(router): bump version
  packages/router/CHANGELOG.md
  packages/router/package.json
Due: none

feat(webgl): improved image rendering
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/meshes/image.ts
Due: none

feat(webgl): simplified image texture handling
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/meshes/image.ts
  packages/webgl/src/program.ts
Due: none

feat(tween): added timeline, stagger, dom manipulations
  packages/router/src/transitions/fade.ts
  packages/tween/README.md
  packages/tween/demo/index.ts
  packages/tween/src/controller.ts
  packages/tween/src/dom.ts
  packages/tween/src/helper.ts
  packages/tween/src/index.ts
  packages/tween/src/props.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
  packages/tween/tests/tween.test.ts
Due: tween, router

chore: bump router + tween
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/tween/CHANGELOG.md
  packages/tween/package.json
Due: none

fix: yarn.lock file
  .yarnrc.yml
  yarn.lock
Due: none

feat(tween): improved performance + api
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/helper.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
  packages/tween/tests/tween.test.ts
Due: tween

fix(tween): invalid timeline duration
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.html
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/timeline.ts
Due: tween

feat(webgl): added enable/disable logic in mesh
  packages/webgl/CHANGELOG.md
  packages/webgl/demo/index.ts
  packages/webgl/package.json
  packages/webgl/src/mesh.ts
  packages/webgl/src/meshes/image.ts
Due: none

feat(router): refactor, improve animations feat(tween): added callbacks to timeline
  packages/router/CHANGELOG.md
  packages/router/README.md
  packages/router/demo/index.html
  packages/router/demo/index.ts
  packages/router/demo/projects.html
  packages/router/package.json
  packages/router/src/animations.ts
  packages/router/src/index.ts
  packages/router/src/outlet.ts
  packages/router/src/route.ts
  packages/router/src/router.ts
  packages/router/src/transition.ts
  packages/router/src/transitions/fade.ts
  packages/router/src/trigger.ts
  packages/router/src/utils.ts
  packages/tween/CHANGELOG.md
  packages/tween/demo/index.ts
  packages/tween/package.json
  packages/tween/src/controller.ts
  packages/tween/src/dom.ts
  packages/tween/src/index.ts
  packages/tween/src/timeline.ts
  packages/tween/src/tween.ts
Due: tween, router

fix(router): invalid navStart animation call
  packages/router/CHANGELOG.md
  packages/router/demo/index.ts
  packages/router/package.json
  packages/router/src/router.ts
Due: router

fix(router): invalid var used before imit
  packages/router/CHANGELOG.md
  packages/router/package.json
  packages/router/src/router.ts
Due: router

fix(tween): invalid if statement for updateChanges
  packages/tween/CHANGELOG.md
  packages/tween/package.json
  packages/tween/src/tween.ts
Due: tween

fix(observer): sync update call on creation
  packages/observer/CHANGELOG.md
  packages/observer/package.json
  packages/observer/src/observable.ts
Due: observer

Path conditions:
  composer: any of: packages/composer/src
  observer: any of: packages/observer/src
  ticker: any of: packages/ticker/src
  tween: any of: packages/tween/src
  router: any of: packages/router/src
  utils: any of: packages/utils/src
