Repository davideperozzi/smoovy: changes, and which Codecov flags are due for each by the changed paths.
All: observer, ticker, tween, router, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: null
      observer:
        flags: observer
        target: 60%
      ticker:
        flags: ticker
        target: 70%
      tween:
        flags: tween
        target: 80%
      router:
        flags: utils
        target: 60%
      utils:
        flags: utils
        target: 80%
flags:
  observer:
    paths:
      - packages/observer/src
  ticker:
    paths:
      - packages/ticker/src
  tween:
    paths:
      - packages/tween/src
  router:
    paths:
      - packages/router/src
  utils:
    paths:
      - packages/utils/src

feat(parallax): initial structure
  packages/parallax/README.md
  packages/parallax/demos/default/index.html
  packages/parallax/demos/default/index.scss
  packages/parallax/demos/default/index.ts
  packages/parallax/package-lock.json
  packages/parallax/package.json
  packages/parallax/src/controller.ts
  packages/parallax/src/index.ts
  packages/parallax/src/item.ts
  packages/parallax/src/items/element.ts
  packages/parallax/src/items/index.ts
  packages/parallax/src/items/vector.ts
  packages/parallax/src/math.ts
  packages/parallax/src/state.ts
  packages/parallax/tsconfig.json
  packages/parallax/tslint.json
Due: none

feat(parallax): updated calculations
  packages/event/src/utils.ts
  packages/observer/demos/default/index.html
  packages/observer/demos/default/index.ts
  packages/observer/src/element/element-observer.ts
  packages/observer/src/element/element-state.ts
  packages/observer/tests/element.test.ts
  packages/parallax/README.md
  packages/parallax/demos/default/index.html
  packages/parallax/demos/default/index.ts
  packages/parallax/package-lock.json
  packages/parallax/package.json
  packages/parallax/src/item.ts
  packages/parallax/src/items/element.ts
  packages/parallax/src/items/index.ts
  packages/parallax/src/items/vector.ts
  packages/parallax/src/math.ts
  packages/parallax/src/state.ts
  packages/scroller/src/behaviors/nativeScrollbar.ts
Due: observer

feat(scroller): added native scrollbar
  packages/event/src/element.ts
  packages/observer/src/element/element-state.ts
  packages/parallax/demos/default/bg.png
  packages/parallax/demos/default/index.html
  packages/parallax/demos/default/index.scss
  packages/parallax/demos/default/index.ts
  packages/parallax/src/item.ts
  packages/parallax/src/items/element.ts
  packages/parallax/src/items/vector.ts
  packages/scroller/demos/native/index.html
  packages/scroller/demos/native/index.scss
  packages/scroller/demos/native/index.ts
  packages/scroller/src/behaviors/bypassFocus.ts
  packages/scroller/src/behaviors/index.ts
  packages/scroller/src/behaviors/nativeScrollbar.ts
  packages/scroller/src/behaviors/scrollTo.ts
  packages/scroller/src/behaviors/tweenTo.ts
  packages/scroller/src/scroller.ts
Due: observer

chore(release): publish
  packages/event/package-lock.json
  packages/event/package.json
  packages/observer/package-lock.json
  packages/observer/package.json
  packages/parallax/package-lock.json
  packages/parallax/package.json
  packages/router/package-lock.json
  packages/router/package.json
  packages/scroller/package-lock.json
  packages/scroller/package.json
Due: none

chore(parallax): updated readme
  README.md
  packages/parallax/README.md
Due: none

chore(release): publish
  packages/parallax/package-lock.json
  packages/parallax/package.json
Due: none

feat(parallax): added mapShift option
  packages/parallax/README.md
  packages/parallax/demos/default/index.html
  packages/parallax/demos/default/index.scss
  packages/parallax/demos/default/index.ts
  packages/parallax/src/items/element.ts
Due: none

feat(event): added reflect to emitter
  packages/event/README.md
  packages/event/src/element.ts
  packages/event/src/emitter.ts
  packages/event/tests/element.test.ts
  packages/event/tests/emitter.test.ts
  packages/parallax/package-lock.json
  packages/router/src/router.ts
Due: router

chore(release): publish
  packages/event/package-lock.json
  packages/event/package.json
  packages/parallax/package-lock.json
  packages/parallax/package.json
  packages/router/package-lock.json
  packages/router/package.json
  packages/scroller/package-lock.json
  packages/scroller/package.json
Due: none

feat(router): added init event + state prop
  packages/router/src/router.ts
Due: router

chore(release): publish
  packages/router/package-lock.json
  packages/router/package.json
Due: none

fix(router): state object freeze
  packages/router/demos/default/index.ts
  packages/router/src/router.ts
Due: router

fix(utils): invalid typing for helper functions
  packages/utils/src/base.ts
Due: utils

chore(release): publish
  packages/observer/package-lock.json
  packages/observer/package.json
  packages/parallax/package-lock.json
  packages/parallax/package.json
  packages/router/package-lock.json
  packages/router/package.json
  packages/scroller/package-lock.json
  packages/scroller/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix(parallax): invalid splice call
  packages/parallax/src/controller.ts
Due: none

refactor(observer): structure
  .gitignore
  packages/observer/demos/default/index.html
  packages/observer/demos/default/index.scss
  packages/observer/demos/default/index.ts
  packages/observer/package-lock.json
  packages/observer/package.json
  packages/observer/src/controller.ts
  packages/observer/src/element/element-observer.ts
  packages/observer/src/element/element-state.ts
  packages/observer/src/element/index.ts
  packages/observer/src/index.ts
  packages/observer/src/observe.ts
  packages/observer/src/viewport-observer.ts
Due: observer

fix(router): made abort controller optional
  .gitignore
  packages/router/src/router.ts
  packages/utils/src/fetch.ts
Due: router, utils

feat(observer): testes and new structure
  package-lock.json
  package.json
  packages/observer/demos/default/index.html
  packages/observer/demos/default/index.scss
  packages/observer/demos/default/index.ts
  packages/observer/src/controller.ts
  packages/observer/src/index.ts
  packages/observer/src/observable-controller.ts
  packages/observer/src/observable.ts
  packages/observer/src/observe.ts
  packages/observer/src/utils.ts
  packages/observer/tests/browser/element.test.html
  packages/observer/tests/browser/element.test.html.ts
  packages/observer/tests/browser/observer.test.html
  packages/observer/tests/browser/observer.test.html.ts
  packages/observer/tests/browser/viewport.test.html.ts
  packages/observer/tests/element.test.ts
  packages/observer/tests/observer.test.pptr.ts
  packages/observer/tests/observer.test.ts
  packages/observer/tests/viewport.test.pptr.ts
  packages/observer/tests/viewport.test.ts
  scripts/test/serve/package.ts
  tslint.json
Due: observer

refactor: observer
  packages/observer/README.md
  packages/observer/src/observable-controller.ts
  packages/observer/src/observable.ts
  packages/observer/src/utils.ts
  packages/observer/tests/browser/observer.test.html.ts
  packages/observer/tests/observer.test.pptr.ts
  packages/observer/tests/observer.test.ts
  packages/parallax/src/items/element.ts
  packages/scroller/src/behaviors/bypassFocus.ts
  packages/scroller/src/behaviors/clampContent.ts
  packages/scroller/src/behaviors/nativeScrollbar.ts
  packages/scroller/src/behaviors/styleContainer.ts
  packages/scroller/src/behaviors/translate.ts
  packages/scroller/src/dom.ts
  scripts/test/serve/package.ts
Due: observer

feat(ci): removed github actions
  .drone.yml
  .github/workflows/build_test_deploy.yml
  codecov.yml
  package.json
Due: none

fix(ci): drone config
  .drone.yml
Due: none

feat(ci): updated deps
  .drone.yml
Due: none

fix(ticker): tests
  .drone.yml
  packages/ticker/tests/ticker.test.ts
Due: none

feat(ci): added env var to steps
  .drone.yml
Due: none

feat(ci): fix deps
  .drone.yml
Due: none

feat(ci): fix deps... again
  .drone.yml
Due: none

feat(ci): fix attempt
  jest-puppeteer.config.js
Due: none

feat(ci): disabled puppeteer tests for now (too many bugs)
  .drone.yml
  jest-puppeteer.config.js
  jest.config.js
  package-lock.json
  package.json
  packages/observer/package-lock.json
  packages/observer/tests/observer.test.pptr.ts
  packages/observer/tests/observer.test.ts
  scripts/test/package.ts
Due: none

fix(observer): test timeout issue
  packages/observer/tests/observer.test.ts
Due: none

chore(release): publish
  packages/observer/package-lock.json
  packages/observer/package.json
  packages/parallax/package-lock.json
  packages/parallax/package.json
  packages/router/package-lock.json
  packages/router/package.json
  packages/scroller/package-lock.json
  packages/scroller/package.json
  packages/ticker/package-lock.json
  packages/ticker/package.json
  packages/tween/package-lock.json
  packages/tween/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix(event): changed "array" to more safe "set"
  packages/event/src/emitter.ts
  packages/event/tests/emitter.test.ts
Due: none

fix(scroller): bypassNative recalc infinite loop
  packages/scroller/demos/default/index.ts
  packages/scroller/demos/native/index.ts
  packages/scroller/src/behaviors/bypassNative.ts
  packages/scroller/src/behaviors/translate.ts
Due: none

fix(ci): codecov deps
  .drone.yml
Due: none
