Repository davideperozzi/smoovy: changes, and which Codecov flags are due for each by the changed paths.
All: observer, ticker, tween, router, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: null
      observer:
        flags: observer
        target: 60%
      ticker:
        flags: ticker
        target: 70%
      tween:
        flags: tween
        target: 80%
      router:
        flags: utils
        target: 60%
      utils:
        flags: utils
        target: 80%
flags:
  observer:
    paths:
      - packages/observer/src
  ticker:
    paths:
      - packages/ticker/src
  tween:
    paths:
      - packages/tween/src
  router:
    paths:
      - packages/router/src
  utils:
    paths:
      - packages/utils/src

feat(parallax): added observe config to element parallax
  packages/parallax/README.md
  packages/parallax/src/controller.ts
  packages/parallax/src/item.ts
  packages/parallax/src/items/element.ts
  packages/parallax/src/items/vector.ts
Due: none

chore(release): publish
  packages/parallax/package-lock.json
  packages/parallax/package.json
Due: none

feat(observer): removed default mutators due to many issues
  packages/observer/src/observable-controller.ts
Due: observer

feat(slider): initial struct
  packages/slider/README.md
  packages/slider/demos/default/index.html
  packages/slider/demos/default/index.scss
  packages/slider/demos/default/index.ts
  packages/slider/package-lock.json
  packages/slider/package.json
  packages/slider/src/index.ts
  packages/slider/tsconfig.json
  packages/slider/tslint.json
Due: none

chore(release): publish
  packages/observer/package-lock.json
  packages/observer/package.json
  packages/parallax/package-lock.json
  packages/parallax/package.json
  packages/scroller/package-lock.json
  packages/scroller/package.json
Due: none

fix(scroller): styleContainer config mismatch
  packages/scroller/demos/native/index.ts
  packages/scroller/src/behaviors/styleContainer.ts
Due: none

chore(release): publish
  packages/scroller/package-lock.json
  packages/scroller/package.json
Due: none

feat(router): added `removeTransition`
  packages/router/src/router.ts
Due: router

chore(release): publish
  packages/router/package-lock.json
  packages/router/package.json
Due: none

feat(observer): removed MutationObserver and added ResizeObserver
  packages/observer/demos/default/index.scss
  packages/observer/src/observable-controller.ts
  packages/observer/src/observable.ts
  packages/observer/tsconfig.json
  packages/utils/src/browser.ts
  packages/utils/src/debounce.ts
Due: observer, utils

fix(observer): missing semicolon
  packages/observer/README.md
  packages/observer/src/observable-controller.ts
Due: observer

chore(observer): fix readme [SKIP CI]
  packages/observer/README.md
Due: none

chore(release): publish
  packages/observer/package-lock.json
  packages/observer/package.json
  packages/parallax/package-lock.json
  packages/parallax/package.json
  packages/router/package-lock.json
  packages/router/package.json
  packages/scroller/package-lock.json
  packages/scroller/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

feat(scroller): added lerp content events
  README.md
  packages/scroller/README.md
  packages/scroller/src/behaviors/index.ts
  packages/scroller/src/behaviors/lerpContent.ts
  packages/scroller/src/core.ts
Due: none

fix(scroller): broken cutDec function
  packages/scroller/demos/default/index.html
  packages/scroller/demos/default/index.ts
  packages/scroller/src/behaviors/lerpContent.ts
  packages/scroller/src/behaviors/translate.ts
Due: none

fix(scroller): skipOutputtransform for native scrollbar
  packages/scroller/demos/default/index.ts
  packages/scroller/src/behaviors/scrollTo.ts
Due: none

feat(scroller): added lock functionality to nativeScrollbar
  packages/scroller/demos/default/index.ts
  packages/scroller/src/behaviors/nativeScrollbar.ts
  packages/scroller/src/core.ts
Due: none

fix(scroller): code formatting
  packages/scroller/src/behaviors/nativeScrollbar.ts
Due: none

feat(scroller): added multiplyDelta option to lerpContent
  packages/scroller/demos/default/index.ts
  packages/scroller/src/behaviors/lerpContent.ts
Due: none

fix(scroller): invalid focus visibility check
  packages/scroller/demos/native/index.html
  packages/scroller/demos/native/index.scss
  packages/scroller/src/behaviors/bypassFocus.ts
  scripts/serve/package.ts
Due: none

feat(observer): added intersection observer support
  packages/observer/demos/default/index.html
  packages/observer/demos/default/index.ts
  packages/observer/src/observable-controller.ts
  packages/observer/src/observable.ts
  packages/observer/src/utils.ts
Due: observer

fix(observer): code format
  packages/observer/src/observable-controller.ts
  packages/observer/src/utils.ts
Due: observer

fix(observer): tests
  packages/observer/demos/default/index.ts
  packages/observer/tests/observer.test.ts
Due: none

chore(codecov): decreased default target
  codecov.yml
Due: none

feat: added scss utils
  README.md
  packages/scss/README.md
  packages/scss/functions.scss
  packages/scss/functions/breakpoint.scss
  packages/scss/functions/easings.scss
  packages/scss/functions/math.scss
  packages/scss/functions/units.scss
  packages/scss/layout.scss
  packages/scss/layout/reset.scss
  packages/scss/mixins.scss
  packages/scss/mixins/fluid-size.scss
  packages/scss/mixins/font-faces.scss
  packages/scss/mixins/hyphenate.scss
  packages/scss/mixins/placeholder.scss
  packages/scss/mixins/responsive.scss
  packages/scss/package.json
  packages/scss/tsconfig.json
  packages/scss/tslint.json
  scripts/build/package.ts
Due: none

chore(release): publish
  packages/scss/package.json
Due: none

feat: added component package
  README.md
  packages/component/README.md
  packages/component/package-lock.json
  packages/component/package.json
  packages/component/src/component.ts
  packages/component/src/index.ts
  packages/component/src/manager.ts
  packages/component/tsconfig.json
  packages/component/tslint.json
Due: none

chore(release): publish
  packages/component/package-lock.json
  packages/component/package.json
Due: none

fix: lint errors
  packages/component/src/index.ts
Due: none

feat(scss): added flexgrid
  packages/scss/layout/flexgrid.scss
Due: none
